name: test
on:
  push:
    branches: ['*']
  pull_request:
    branches: ['main']

jobs:
  test-fabric:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./fabric
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: run tests
        run: ./gradlew test
